.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-container{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cart-title{
    margin-bottom: 3vh;
}

.cart-title:after{
    background-color: black;
    content: "";
    display: inline-block;
    height: 1.3px;
    position: absolute;
    /* vertical-align: text-bottom; */
    top: 18vh;
    left: 10vw;
    width: 75%;
}

.cart-products{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
}

.cart-product{
    width: 80%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-product-header{
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5vh;
}

.cart-product-header:after {
    background-color: black;
    content: "";
    display: inline-block;
    height: 1.3px;
    position: absolute;
    top: 29vh;
    width: 62.5%;
}

.img{
    width: 7%;
    height: 100%;
}

.cart-product-name{
    width: 43%;
    display: flex;
    justify-content: center;
}



.quantity{
    width: 10%;
    display: flex;
    justify-content: center;
}

.price{
    width: 15%;
    display: flex;
    justify-content: center;
}

.remove{
    width: 15%;
    display: flex;
    justify-content: center;
}